@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.attribution{
    position: absolute;
    bottom: 0;
    left: 40%;
}
.heading{
    color:  hsl(179, 62%, 43%);
}
.paragraph1{
    color: hsl(218, 22%, 67%);
}
.paragraph2{
    color:hsl(216, 47%, 90%) ;
}
.paragraph-2{
    color:hsl(216, 47%, 90%) ;
    padding-left: 15px;
}
.sub-heading1{
    color: hsl(71, 73%, 54%);
}
.sub-heading2{
    color: #edffff;
}
.sub-heading-2{
    color: #edffff;
}
.subscription{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
button{
    border: 0;
    background-color:hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    padding: 15px;
    width: 70%;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.heading,.paragraph1,.paragraph2,.sub-heading1,.sub-heading2 {
    padding-left: 20px;
}
.main_wrapper{
    width: 40%;
    margin: auto;
    padding-top: 10%;
    border-radius: 5px;
}
.sub_wrapper{
    display: flex;
    flex-direction: row;
}
.introduction_part{
    background-color: white;
    padding: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.payment_plan{
    background-color: #2bb3b1;
    width: 46%;
    padding: 18px;
    border-bottom-left-radius: 5px;
}
.community_benefits{
    background-color: #4abebc;
    width: 46%;
    padding: 18px;
    border-bottom-right-radius: 5px;
}
body{
    background-color: #e6eff6;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

@media (max-width: 700px) {
    .sub_wrapper {
        display: flex;
        flex-direction: column;
    }
    .main_wrapper{
        width: 85%;
    }
    .introduction_part{
        height: 32vh;
    }
    .payment_plan{
        width: auto;
        border-bottom-left-radius: 0;
        height: 29vh;
    }
    .community_benefits{
        width: auto;
        border-bottom-left-radius: 5px;
        height: 24vh;
    }
    body{
        font-size: 15px;
    }
}

